// Primary Colors

// https://mycolor.space/?hex=%2351DC6C&sub=1
$green-main: #51DC6C;

// Natural Pallette
$green-dull: #749A76;
$green-light: #EFFDEF;
$green-white: #F8FFF8;

// Grey Friends
$grey-1: #3D4A3D;
$grey-2: #A0AFA0;

// Shades
$green-main-d1: #04B044;
$green-main-d2: #00851A;
$green-main-d3: #005C00;
$green-main-d4: #003500;

// Accent Choices
$blue-1: #52C3FF;
$blue-2: #008EFF;
$squash: #FF830D;
$red: #FF2E55;