@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@import "../../styles/partials/global";

.footer {
  position: relative;
  width: 100%;
  background-color: $green-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: $green-white;

  &__dev-list {
    display: flex;
    gap: 1rem;
  }

  &__list-item {
    color: $green-main-d1;
  }

  &__dev-header {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  &__logo {
    color: $green-main;
  }

  span {
    color: $green-main-d4;
  }
}
