@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@import "../../styles/partials/global";

.main {
  &__card {
    flex-grow: 1;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 10rem;
    background-color: $green-white;
    margin: 5rem 5rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  }

  &__table-title {
    color: $green-main-d3;
  }
}
